readxl
lme4
Matrix
see
bayestestR
rstanarm
Rcpp
posterior
rstan
StanHeaders
ggplot2
bayesplot
viridis
viridisLite
parallel
shinystan
shiny
cmdstanr
magrittr
tidyr
dplyr
here
stats
graphics
grDevices
datasets
utils
methods
base
